<app-header></app-header>

<section class="banner">
    <div class="content-banner">
        <h1 class="title">Aumente sua produtividade com soluções agrícolas de excelência.</h1>
        <h2 class="subtitle">Descubra soluções para impulsionar sua agricultura. Tecnologias avançadas de monitoramento
            inteligente estão ao seu alcance. Alcance o potencial máximo da sua fazenda e revolucione seus resultados
            agora.</h2>
        <button class="cta">Conheça a 4Agro</button>
    </div>
</section>

<section class="solutions">
    <p class="title">Soluções desenvolvidas para você</p>
    <div class="content-solutions">
        <div class="solution">
            <p class="title-solution">Controle de safras</p>
            <p class="content">Permite aos usuários monitorar e gerenciar informações sobre as safras, incluindo
                históricos de produção e desempenho. Os usuários podem acompanhar indicadores-chave, visualizar dados
                passados, gerenciar registros e analisar informações para tomar decisões informadas na sua propriedade.
            </p>
            <p class="link">Conheça mais do controle de safra da 4Agro</p>
        </div>
        <div class="solution">
            <p class="title-solution">Gestão de áreas</p>
            <p class="content">Permite aos usuários visualizar e acompanhar informações detalhadas sobre diferentes
                áreas da propriedade agrícola. Eles podem monitorar condições, registrar atividades e analisar o
                desempenho de cada talhão para tomar decisões informadas na gestão agrícola.</p>
            <p class="link">Encontre a melhor gestão para seus talhões</p>
        </div>
        <div class="solution">
            <p class="title-solution">Gestão financeira</p>
            <p class="content">Oferecemos melhorias significativas na eficiência das operações financeiras, permitindo
                maior controle e precisão no gerenciamento de fluxo de caixa e registros contábeis, impulsionando o
                aumento de receita e automatizando processos.</p>
            <p class="link">Encontre o melhor para suas finanças</p>
        </div>
        <div class="solution">
            <p class="title-solution">Estoque e maquinário</p>
            <p class="content">Permite aos usuários monitorar o estoque de materiais e controlar o maquinário de sua
                propriedade agrícola. Essa funcionalidade oferece uma plataforma para gerenciar o inventário, registrar
                a movimentação de itens, agendar e acompanhar a manutenção dos equipamentos.</p>
            <p class="link">Conheça mais sobre o controle de Estoque e maquinário</p>
        </div>
        <div class="solution">
            <p class="title-solution">Agenda</p>
            <p class="content">Com recursos como agendamento, lembretes, compartilhamento e personalização, essa
                ferramenta ajuda a organizar tarefas e otimizar o tempo, tanto no âmbito pessoal quanto profissional.
            </p>
            <p class="link">Organize sua propriedade com 4Agro</p>
        </div>
        <div class="solution">
            <p class="title-solution">Indicadores Integrados</p>
            <p class="content">O usuário têm acesso a um painel de controle que exibe os principais dados e indicadores
                relevantes da propriedade. Isso inclui informações como produtividade atual, status do plantio, área
                colhida, níveis hidrícos, entre outros dados, tudo isso de forma integrada e automatizada com seu
                maquinário agrícola.</p>
            <p class="link">Conheça mais sobre o controle de Estoque e maquinário</p>
        </div>
    </div>
</section>

<section class="unlocked">
    <p class="title">
        Desbloqueie o Potencial Máximo da sua Propriedade e Simplifique sua rotina com a 4Agro
    </p>

    <div class="img-text">
        <img src="assets/images/banner-personagem.png">
        <div class="text">
            <p class="text-section">Sobre nós</p>

            <p class="text-title">Solução em tecnologia e gestão agrícola.</p>

            <p class="text-content">
                Somos uma empresa especializada em soluções em tecnologia e gestão agrícola. Nosso objetivo é oferecer
                inovação e eficiência para agricultores e empresas do setor. Com uma equipe experiente e apaixonada,
                fornecemos tecnologia avançada, análise de dados e ferramentas de gestão personalizadas. Nosso
                compromisso é impulsionar o progresso e a sustentabilidade da agricultura, capacitando nossos clientes a
                prosperarem em um ambiente agrícola em constante evolução.
            </p>

            <button class="text-cta">Quero a solução</button>
        </div>
    </div>
</section>

<section class="big-card">
    <div class="text">
        <p class="text-section">Inovação em IA</p>
        <p class="text-title">IA desenvolvida para ajudar na sua propriedade</p>
        <p class="text-content">Com essa tecnologia 100% desenvolvida por nós da 4Agro, oferecemos aos proprietários
            rurais uma plataforma baseada em IA para obter insights, recomendações personalizadas e previsões no setor
            agrícola. Com recursos avançados de análise de dados, aprendizado de máquina e monitoramento em tempo real,
            essa solução visa melhorar a eficiência, a produtividade e a tomada de decisões estratégicas na agricultura.
        </p>
        <button class="text-cta">IA da 4Agro</button>
    </div>
    <img src="assets/images/banner-IA.png">
</section>

<footer class="footer">
    <div class="info">
        <div class="info-menu">
            <p class="info-menu-text">Mídia</p>
            <p class="info-menu-text">Termos de Uso</p>
            <p class="info-menu-text">Políticas de Privacidade</p>
        </div>
        <div class="info-cp">
            <p class="info-cp-text">2023 © 4 Agro - Soluções Agrícolas</p>
            <p class="info-cp-text">Todos os direitos reservador <span>Por ED</span></p>
        </div>
    </div>
</footer>

<app-chat></app-chat>